body {
    background-color: #eef2f7;
    font-family: Arial, sans-serif;
}

header {
    background: #1d4ed8;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
}
